include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/seplan *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/seplan/migration *.ini *.py *.mako
recursive-include ckanext/seplan/public *.*
